.search_active{
	color: #f77c00 !important;
}
#search_header{

    width: 18.75rem;
    height:2.175rem;
    background-color: #fff;

position: relative;
        box-sizing: border-box;


}
#search_header .conmon_btn{
	width: 3rem;
	height:2rem;
	position: absolute;
	right:.6rem;
	border:none;
	margin-top: .05rem;
	border:none;
	background: rgba(255,255,255,0);
	text-align: left;
	padding-left: 0.5rem;
	color:#f77c00;
	              -webkit-tap-highlight-color:rgba(255,0,0,0);
cursor: pointer;
border-radius: 0;

}
#search_header .back{
	position: absolute;
text-align: center;
    width:2rem;
    height:2.175rem;
    line-height: 2rem;
    cursor: pointer;
        color:#5b5b5b;
        display: inline-block;
              -webkit-tap-highlight-color:rgba(255,0,0,0);


}
#search_header  #search{
	box-shadow: inherit;
	position: absolute;
	left: 2.0rem;
	top:0.16rem;
	
	width: 13.5rem;
	height:1.8rem;
	padding-top: 2px;
	padding-left: 2.1rem;
	background:#fff url("../img/common/search.png") no-repeat 1rem center;
	background-size: 0.675rem 0.725rem;
	border:1px #f77c00 solid;
	border-radius: 1.25rem;
}

#wrap .search_title{
	box-sizing: border-box;
	width: 100%;
	height:1.625rem;
	background-color: #efefef;
	line-height: 1.625rem;
	padding-left: 0.375rem;
}
#wrap .search_name {
	width: 18.75rem;
	height:auto;
padding-bottom: 1rem;
}
#wrap .search_name ul{
	width: 100%;
	height: auto;
	overflow: hidden;
}
#wrap .search_name ul li{
	box-shadow: 0 0 0.125rem #ccc;
	float: left;
	height:1.5rem;
	background-color: #ececec;
	padding:0 .8rem; 

	line-height: 1.5rem;
	text-align: center;
	color: #555;
	border-radius: 0.2rem;
	margin: 0.875rem 0rem 0rem .5rem;
	cursor: pointer;
	  -webkit-tap-highlight-color:rgba(255,0,0,0);
}
#wrap .search_history{
	width: 100%;
	height:auto;
	color: #222;
}
#wrap .search_history ul li{
	width: 100%;
	height: 2.125rem;
	line-height: 2.125rem;
	border-bottom: 1px solid #ccc;
	padding-left: 0.5rem;
	box-sizing: border-box;
	font-weight: 500;
	cursor: pointer;
	 -webkit-tap-highlight-color:rgba(255,0,0,0);
}
#wrap .cencel_history{
	width: 100%;
	height: 2.2rem;
	text-align: center;
	color: #f77c00;
	line-height: 2.2rem;
	border-bottom:1px solid #ccc ;
	 -webkit-tap-highlight-color:rgba(255,0,0,0);
	 cursor: pointer;
}
#product_list{
	display: none;
	width: 100%;
	height:auto;
}#wrap .cencel_history a{
	color: #f77c00;
}
.append a{
	color:#222;
}







#wrap #product_list  .price{
        position: absolute;
    right:0.4rem;
     bottom:0.2rem;
}
#wrap #product_list figure img{
    width:18.75rem;
    height: 7.5rem;
}
#wrap #product_list figure{
    width:100%;
    height:7.5rem;
    position: relative;
    margin-bottom: 0.25rem;
}
#wrap #product_list figcaption{
                  background-image: -webkit-linear-gradient( bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));

    width:100%;
    height:2.5rem;
    position: absolute;
    bottom:0;
    padding-left: 0.5rem;
    box-sizing: border-box;

}
#wrap #product_list figure p{
    line-height: 16px;
    color: #fff;
}
#wrap #product_list figure .price{
    background: rgba(0,0,0,0.5);
    width:5.0rem;
    height:1.5rem;
    text-align: center;
}
#wrap #product_list figure .th{
    text-decoration: line-through;
    color: #eee;
    line-height: 1.5rem;


}

#wrap #product_list figure .yuan{
    color: #ff9000;
    font-weight: bold;
margin-left: 0rem;
line-height: 1.5rem;


}