#headerl{
position: relative;
    width: 18.75rem;
    height:2.25rem;
    background-color: #111111;

        box-sizing: border-box;




}


#headerl .title{
    font-weight: 500;
    display: inline-block;
    text-align: center;
    width:16.25rem;
    position: absolute;
        color: #fff;
    height:2.25rem;
        left: 1.25rem;
    margin-top: 1.375rem;
}
#headerl .search_icon{
	color: #fff;
	width:3.5rem;
	height: 2.25rem;
	display: inline-block;
	cursor: pointer;
	line-height: 2.25rem;
	text-align: center;
	position: absolute;
	right:0;
	bottom:0rem;
}
#headerl .place{
    width: 100%;
    height:2.25rem;
    line-height: 2.25rem;
    display: block;
    color:#fff;
    
    cursor: pointer;
    text-align: center;


}
#headerl .place .iconfont{
	margin-left: 0.5rem;
	display: inline-block;
}
#headerl  .city_picker{
	background-color: rgba(0,0,0,0);
	width:5.5rem;
	height:1.5rem;
	position: absolute;
	   left: 7rem;
top: 0rem;
cursor: pointer;
color: #eee;
border:none;
	color: rgba(0,0,0,0);

}
#topic_nav{

	width:18.75rem;
	height:2.675rem;
	line-height: 2.675rem;
	background-color: #fff;
	font-weight: 500;
/*		border-left: 1px solid #222;
		box-sizing: border-box;*/
		box-sizing: border-box;

	
}
#topic_nav ul{
	width:18.75rem;
	float: left;
}
#topic_nav ul li{
	      -webkit-tap-highlight-color:rgba(255,0,0,0);

	height:2.675rem;
	float: left;
width:4.6875rem !important;
text-align: center;
cursor: pointer;
box-sizing: border-box;
}
#headerl + #topic_nav ul li{

width:6.22rem !important;

}
#topic_nav .lists{
	float: right;
	width:1.2rem;
	height:2.675rem;
	cursor: pointer;
	      -webkit-tap-highlight-color:rgba(255,0,0,0);
	      line-height: 2.675rem;

}
.content_t{
	width:100%;
	height:auto;
		padding-bottom:2.425rem;

}

/*#topic_main .swiper-wrapper{
	height: 100% ;
}*/
.lists .top{
	font-weight: bold;
	text-align: center;
	color: #fff;
	font-size: 0.68rem;
	position: absolute;
padding-top: 3.1rem;
box-sizing: border-box;
			margin-bottom: 0.25rem;

	width:100%;
	height:7.5rem;
	display: block;
		background: url("../img/topic/top1.png") no-repeat center 2.48rem;
		background-size: 1.8rem 1.4rem;


}
.lists .titles {
	font-size: 0.7rem;
	color: #3a3120;
	width:100%;
	height:3rem;
	line-height: 3rem;
	text-align: center;
	position: absolute;
		background: url("../img/topic/xian1.png") no-repeat 3.65rem .5rem,
		url("../img/topic/xian2.png") no-repeat 11.85rem .5rem;
		background-size: 3.325rem 2px;
		top:2.9rem;

}
.lists .titles h3{
		font-weight: bold;
		margin-top: 0.125rem;

}
.lists .titles p{
padding-top: .225rem;
box-sizing: border-box;
}
.lists .in{
			margin-bottom: 0.25rem;

	position: absolute;
	width:1.375rem;
	right: 0;
	height:7.5rem;
	margin-bottom: 0.25rem;
			background: url("../img/topic/in.png") no-repeat center center;
		background-size: 0.35rem 1.05rem;
}
.lists figure{
		margin-bottom: 0.25rem;

	position: relative;
	width:100%;
	height:7.5rem;
	margin-bottom: 0.25rem;
}
.lists figure::before{
	content: "";
	width:18.75rem;
	height:4rem;
	background: rgba(255,255,255,0.5);
	position: absolute;
	top:1.5rem;
}
.lists figure img{
	width:18.75rem;
	height:7.5rem;
}

.lists figure .name{
	color: #fff;
	line-height: 1.45rem;
	font-weight: bold;
	margin-left: 0.75rem;

}
.lists figure figcaption{
	width:100%;
	height: 1.5rem;
	position: absolute;
	top:6rem;
}

.lists .time{
	width:5rem;
	height: 1.5rem;
	text-align: center;
	line-height: 1.5rem;
	color:#fff;
	position: absolute;
	right: .4rem;
	bottom:.2rem;
	background-color: rgba(0,0,0,0.4);

}









.topic_on{
	 color: #f77c00 !important;
	 border-bottom: 3px solid #f77c00;

}
























